:root {
    --mainBGColor: rgb(14, 0, 21);
    --boardColor: rgb(0, 0, 175);
    --borderColor: rgb(0, 0, 140);
    --playerColor1: rgb(189, 0, 7);
    --playerColor2: rgb(231, 231, 0);
    --button-color: rgb(252, 252, 231);
}

body {
    background-color: var(--mainBGColor);
}

.board {
    
    width: 91vw;
    height: 78vw;
    display: flex;
    max-width: 91vh;
    max-height: 78vh;
    margin: 7vh auto 15vh auto;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
    border: 3px solid var(--borderColor);
}

.left-edge {
    padding-left: 1%;
}
.right-edge {
    padding-right: 1%;
}

.boardCol {
    background-color: var(--boardColor); 
    height: 98%;
    width: 14%;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 1%;
    padding-bottom: 1%;
}

.space {
    width: 77%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: auto;

}

.empty {
    background-color: var(--mainBGColor);

}

.p1 {
    background-color: var(--playerColor1);
}

.p2 {
    background-color: var(--playerColor2);
}

.winning {
    box-shadow: 0 0 calc((0.7vh + 0.7vw) / 2) calc((0.77vh + 0.77vw) / 2) rgb(245, 245, 252);
}

.buttonholder {
    width: 98vw;
    height: 10vh;
    display: flex;
    position: absolute;
    bottom: 0;
    margin: 0 auto 7px auto;
}

button {
    width: 70px;
    height: 25px;
    background-color: var(--button-color);
    color: var(--mainBGColor);
    margin-top: auto;
    margin-bottom: 7px;
}

#resetBtn {
    margin-left: auto;
    margin-right: 7px;
}

#undoBtn {
    margin-left: 7px;
    margin-right: auto;
}